# Dependency directories
node_modules/

# Build output and cache
coverage/
dist/
*.tsbuildinfo

# Dev Container generated artifacts
.pnpm-store/

# API Extractor/Documenter
temp/

# Lock files
deno.lock

# Logs
pnpm-debug.log*

# LICENSE files within individual packages
# This keeps the git history clean of redundant copies.
packages/**/LICENSE
